<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.0, user-scalable=yes" />
	<meta name="keywords" content=" " />
	<meta name="description" content=" " />
	<link rel="stylesheet" href="{% static 'css/reset.css' %}">
	<link rel="stylesheet" href="{% static 'css/common.css' %}">
	<link rel="stylesheet" href="{% static 'css/register.css' %}">
	<script src="{% static 'js/jquery-1.8.1.min.js' %}"></script>
	<script src="{% static 'js/slide.js' %}"></script>
    <script>
        function check_username(obj) {
            var username = obj.value;
            var $span = $('#msg');
            $.ajax("{% url 'transaction:check_username' %}",{
                "method":'GET',
                'data':{'username':username},
                'dataType':'json',
                'success':function (data) {
                    var status = data.status;
                    if(status=='900'){
                        $span.css('color','green').html(data.msg);
                    }else if(status=='901'){
                        $span.css('color','red').html(data.msg);
                    }
                }
            });
        }

        function checkqq(){
           var qq = document.getElementById('qq').value;
           var reg = /^\s*[.0-9]{5,11}\s*$/;
           if(!(reg.test(qq))){
             return document.getElementById('q').innerHTML = '请输入正确的QQ号';
             return false;
           }    else{return document.getElementById('q').innerHTML = '';}
         }


        function checkemail(){
           var email = document.getElementById('email').value;
           var reg = /^([a-zA-Z]|[0-9])(\w|\-)+@[a-zA-Z0-9]+\.([a-zA-Z]{2,4})$/;
           if(!(reg.test(email))){
             return document.getElementById('yx').innerHTML = '请输入正确的邮箱';
             return false;
           }    else{return document.getElementById('yx').innerHTML = '';}
         }


        function checkPhone(){
           var phone = document.getElementById('tel').value;
           if(!(/^1[34578]\d{9}$/.test(phone))){
             return document.getElementById('sj').innerHTML = '请输入正确的手机号';
             return false;
           }    else{return document.getElementById('sj').innerHTML = '';}
         }





    </script>
	<title>游戏首页</title>
</head>
<body>
	<div class="header">
		<div class="wrapper clearfix">
			<ul class="nav">
				<li><a target="_self" href="{% url 'transaction:index' %}">首页</a></li>
				<li><a target="_self" href="{% url 'transaction:account_deal' %}">账号交易</a></li>
				<li><a target="_self" href="{% url 'transaction:account_purchase' %}">账号求购</a></li>
				<li><a target="_self" href="{% url 'transaction:material_deal' %}">材料交易</a></li>
				<li><a target="_self" href="{% url 'transaction:gold_deal' %}">金币交易</a></li>
                <li><a target="_self" href="{% url 'transaction:Add' %}">买卖发布</a></li>

			</ul>

			<div class="user-info">

				<!-- 我的订单 -->
				<div class="register">
					<a href="{% url 'transaction:register' %}"><p>免费注册</p></a>
				</div>
				<div class="login">
					<a href="{% url 'transaction:login_' %}"><p>登录</p></a>
				</div>
				<div class="order active">
{#                    <a target="_parent" href="{% url 'transaction:person_center' %}"><p>个人中心</p></a>#}
					<a target="_self" href="{% url 'transaction:person_center' %}"><p>个人中心</p></a>
				</div>
			</div>
		</div>
	</div>
    <div class="reg_content">
        <form class="form form-horizontal" action="{% url 'transaction:register' %}" method="post" name="regist_form" enctype="multipart/form-data">
            {%csrf_token%}
            <div class="form-group">
                <label class="col-xs-3 text-right" for="username">用户名</label>
                <div class="col-xs-5">
                    <input class="form-control" type="text" name="username"
                           placeholder="输入您的用户名" onblur="check_username(this)">
                    <span id="msg"></span>
                </div>
            </div>

            <div class="form-group">
                <label class="col-xs-3 text-right" for="password">密码</label>
                <div class="col-xs-5">
                    <input class="form-control" type="password" name="password" id="password"
                           placeholder="输入您的密码">
                </div>
            </div>

            <div class="form-group">
                <label class="col-xs-3 text-right" for="username">QQ</label>
                <div class="col-xs-5">
                    <input class="form-control" type="text" name="qq" id="qq"
                           placeholder="输入5-11位QQ号(必填)" onblur="checkqq()">
                    <span id="q"></span>
                </div>
            </div>

            <div class="form-group">
                <label class="col-xs-3 text-right" for="username">邮箱</label>
                <div class="col-xs-5">
                    <input class="form-control" type="text" name="email" id="email"
                           placeholder="输入您的邮箱(必填)" onblur="checkemail()" >
                    <span id="yx"></span>
                </div>
            </div>

            <div class="form-group">
                <label class="col-xs-3 text-right" for="username">电话号码</label>
                <div class="col-xs-5">
                    <input class="form-control" type="text" name="tel" id="tel"
                        placeholder="输入您的电话号码(必填)" onblur="checkPhone()">
                    <span id="sj"></span>
                </div>
            </div>

            <div class="form-group">
            <label class="col-xs-3 text-right" for="username">上传头像</label>
                <div class="col-xs-5">
                    <input class="form-control" type="file" name="photo" id="photo">
                </div>
            </div>
            <div class="form-group">
                <div class="text-center">
                    <input class="btn btn-success" type="submit" value="注册" id="btn"/>
                    <a href="{% url 'transaction:login_' %}" class="btn btn-link">已有用户，直接登录</a>
                </div>
            </div>
        </form>
    </div>
</body>
</html>