{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.0, user-scalable=yes" />  
	<meta name="keywords" content=" " />  
	<meta name="description" content=" " />
	<link rel="stylesheet" href="{% static 'css/reset.css' %}">
	<link rel="stylesheet" href="{% static 'css/common.css' %}">
	<link rel="stylesheet" href="{% static 'css/account-deal.css' %}">
	<title>账号求购</title>
</head>
<body>
	<div class="header">
		<div class="wrapper clearfix">
			<ul class="nav">
				<li><a target="_self" href="{% url 'transaction:index' %}">首页</a></li>
				<li><a target="_self" href="{% url 'transaction:account_deal' 10000 '1' %}">账号交易</a></li>
				<li class="active"><a target="_parent" href="{% url 'transaction:account_purchase' 10000 '1' %}">账号求购</a></li>
				<li><a target="_self" href="{% url 'transaction:material_deal' 10000 20000 1 %}">材料交易</a></li>
				<li><a target="_self" href="{% url 'transaction:gold_deal' 10000 1 %}">金币交易</a></li>
                <li><a target="_self" href="{% url 'transaction:Add' %}">买卖发布</a></li>

			</ul>

			<div class="user-info">

				<!-- 我的订单 -->
{#				<div class="register">#}
{#					<a href="{% url 'transaction:register' %}"><p>免费注册</p></a>#}
{#				</div>#}
{#				<div class="login">#}
{#					<a href="{% url 'transaction:login_' %}"><p>登录</p></a>#}
{#				</div>#}
				<div class="order">
					<a href="{% url 'transaction:person_center' %}"><p>个人中心</p></a>
				</div>
			</div>
		</div>
	</div>

	<div class="content">
		<div class="wrapper">
			<div class="select fl">
				<div class="select-tit select-w t-c">
					商品筛选
				</div>
				<div class="select-con select-w">
					<div class="select-area">
						<div class="s-c-tit fl">
							所在区：
						</div>
						<div class="area-con fl">
							<ul>
                                {% for game in game_type %}
                                    <li>
                                    <a href="{% url 'transaction:account_purchase' game.gameareaid 1  %}"><span class="border-s ">{{ game.areaname }}</span></a>
                                    </li>

                                {% endfor %}



							</ul>
						</div>

					</div>
					<div class="select-area area-1 fl">
						<div class="s-c-tit fl">
							性别：
						</div>
						<div class="area-con fl">
							<ul>
								<li><span class="border-s">男</span></li>
								<li><span class="border-s">女</span></li>
								
							</ul>
						</div>

					</div>
					<div class="select-area fl">
						<div class="s-c-tit fl">
							职业：
						</div>
						<div class="area-con fl">
							<ul>
								<li><span class="border-s">全职业</span></li>
								<li><span class="border-s">鬼剑士</span></li>
								<li><span class="border-s">剑魂</span></li>
								<li><span class="border-s">剑圣</span></li>
								<li><span class="border-s">剑神</span></li>
								<li><span class="border-s">鬼泣</span></li>
								<li><span class="border-s">黑暗君王</span></li>
								<li><span class="border-s">狂战士</span></li>
								<li><span class="border-s">狱血魔神</span></li>
								<li><span class="border-s">帝血弑天</span></li>
								<li><span class="border-s">阿修罗</span></li>
							</ul>
						</div>

					</div>
					<div class="select-area area-1 fl">
						<div class="s-c-tit fl">
							处罚记录：
						</div>
						<div class="area-con fl">
							<ul>
								<li><span class="border-s">无5天封号记录</span></li>
								<li><span class="border-s">有5天封号记录</span></li>
								
							</ul>
						</div>

					</div>
					<div class="select-area fl">
						<div class="s-c-tit fl">
							QQ等级
						</div>
						<div class="area-con fl">
							<ul>
								<li><span class="border-s">QQ等级0级</span></li>
								<li><span class="border-s">QQ等级1-5级</span></li>
								<li><span class="border-s">QQ等级6-10级</span></li>
								<li><span class="border-s">QQ等级11-20级</span></li>
								<li><span class="border-s">QQ等级21-30级</span></li>
								<li><span class="border-s">QQ等级31-40级</span></li>
								<li><span class="border-s">QQ等级40级以上</span></li>
							</ul>
						</div>

					</div>
					<div class="select-area area-1 fl">
						<div class="s-c-tit fl">
							QQ好友：
						</div>
						<div class="area-con fl">
							<ul>
								<li><span class="border-s">有QQ好友</span></li>
								<li><span class="border-s">无QQ好友</span></li>
								
							</ul>
						</div>

					</div>
				</div>
				<div class="sort fl">
					<div class="sort-tab fl">
						<div class="default-sort active sort-list">
							默认排序
						</div>
						<div class="price sort-list sort-tri" id="price">
                            <span class="text" id="tri">价格</span>
                            <span class="tri-top" id="top"></span>
                        </div>
                        <div class="price sort-list sort-tri" id="price1">
                            <span id="tri">价格</span>
                            <span class="tri-bottom" id="bottom"></span>
                        </div>
                        <div class="time sort-list sort-tri" id="time">
                            <span id="datetime">发布时间</span>
                            <span class="tri-top"></span>
                        </div>
                        <div class="time sort-list sort-tri" id="time1">
                            <span id="datetime">发布时间</span>
                            <span class="tri-bottom"></span>
                        </div>
					</div>

				</div>
				<div class="search">
					 <form action="{% url 'transaction:search_2' 10000 1 %}" method="get">
                    <div class="left-search s-f fl">
                        <p>关键字：</p>
                        <input type="text" name="keywords" id="keywords" placeholder="请输入您要搜索的关键字">
                        <input type="submit" class="s-btn" value="确定">

                    </div>
                    <div class="right-search s-f fr">
                    <p>价格筛选：</p>
                    <input type="text" id="minPrice" class="p-input" placeholder="￥" name="minPrice">
                    <span>&nbsp;-&nbsp;</span>
                    <input type="text" name="maxPrice" id="maxPrice" class="p-input" placeholder="￥">
                    <input type="submit" class="s-btn" value="确定">
                </div>
                </form>
				</div>
			</div>
			<div class="item fl" id="f1">
				<ul class="item-list">
                    {% for account in accounts %}
                        <li class="item-con">
						<div class="item-img fl">
							<a href=""><img src="{% static 'images/wbm.png'%}" alt=""></a>
						</div>
						<div class="item-tit fl">
							<div class="item-tit-d">

								<span class="tit-text " ><a href="{% url 'transaction:details3' account.id %}">{{ account.account_message }} </a></span>
							</div>
							<div class="district fl">
								<span>游戏区服：</span><span>{{ account.gamearea }}</span>
							</div>

						</div>
						<div class="item-price fl">
							￥{{ account.price }}
						</div>
						<div class="buy fl">

								<div class="buy-btn">
									<a href="{% url 'transaction:account_order2' account.id %}">立即出售</a>
								</div>

						</div>
					</li>

                    {% endfor %}



				</ul>
			</div>
		</div>
	</div>
    <div class="page">
             {% for game in game_type %}
                    {% if game.gameareaid == area %}
                        <a href="{% url 'transaction:account_purchase' game.gameareaid 1 %}">首页</a>
                    {% if accounts.has_previous %}
                        <a href="{% url 'transaction:account_purchase' game.gameareaid accounts.previous_page_number %}">上一页</a>
                    {% else %}
                        <a href="javascript:alert('已经是第一页了')">上一页</a>
                    {% endif %}
                         <a href="{% url 'transaction:account_purchase' game.gameareaid 1 %}">{{ page}}/{{ paginator.num_pages }}</a>
                    {% if accounts.has_next %}
                        <a href="{% url 'transaction:account_purchase' game.gameareaid accounts.next_page_number %}">下一页</a>
                    {% else %}
                        <a href="javascript:alert('已经是最后一页了')">下一页</a>
                    {% endif %}
                        <a href="{% url 'transaction:account_purchase' game.gameareaid paginator.num_pages %}">末页</a>
                    {% endif %}
             {% endfor %}
    </div>

    <script type="text/javascript" src="{% static 'material/js/jquery-1.8.1.min.js' %}"></script>
    <script type="text/javascript">
        var sortList = $('.sort-list');
		sortList.each(function(index, el) {
			$(this).click(function(event) {
				$(this).addClass('active').siblings().removeClass('active');
			});

		});

		var areaCon = $('.area-con');
		areaCon.each(function(index, el) {
			var areaList = $(this).children('ul').children('li');
			areaList.each(function(index, el) {
				$(this).click(function(event) {
					// console.log('dd');
					var selectedBar = $(this).children('span');
					selectedBar.addClass('selected');
					selectedBar.parent('li').siblings().children('span').removeClass('selected');
				});
			});
		});
            {#// 价格排序#}
        {#                    <span class="tri-top"></span>#}
        {#                    <span class="tri-bottom"></span>#}
        var price = document.getElementById("price");
        var f1 = document.getElementById("f1");
        price.addEventListener("click", function () {
            var gameareaid = document.getElementById('gameareaid');
            var id = gameareaid.textContent;
            $.get("/games_deal/sort_price3/", {"top": id}, function (html) {

                f1.innerHTML = html;
            })
        });
        $(document).click(function () {
            var top1 = document.getElementById('price1');
            var f2 = document.getElementById("f1");
            top1.addEventListener("click", function () {
                var gameareaid = document.getElementById('gameareaid');
                var id = gameareaid.textContent;
                $.get("/games_deal/sort_price4/", {"top": id}, function (html) {
                    f2.innerHTML = html;
                })
            })
        });
        // 日期排序
        var datetime = document.getElementById('time');
        var f3 = document.getElementById("f1");
        datetime.addEventListener("click", function () {
            var gameareaid = document.getElementById('gameareaid');
            var id = gameareaid.textContent;
            $.get("/games_deal/sort_time3/", {"top": id}, function (html) {
                f3.innerHTML = html
            })
        });
        var time1 = document.getElementById('time1');
        var f4 = document.getElementById("f1");
        time1.addEventListener("click", function () {
            var gameareaid = document.getElementById('gameareaid');
            var id = gameareaid.textContent;
            $.get("/games_deal/sort_time4/", {"top": id}, function (html) {
                f4.innerHTML = html
            })
        });
    </script>

</body>
</html>