{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.0, user-scalable=yes" />
	<meta name="keywords" content=" " />
	<meta name="description" content=" " />
	<link rel="stylesheet" href="{% static 'css/reset.css' %}">
	<link rel="stylesheet" href="{% static 'css/common.css' %}">
	<link rel="stylesheet" href="{% static 'css/account-deal.css' %}">
	<script src="{% static 'js/jquery-1.8.1.min.js' %}"></script>
	<title>账号订单</title>
    <style type="text/css">
        form {
            width: 500px;
            display: inline-block;
            border: 0px solid #CC0000;
        }
    </style>

</head>
<body>
    <div class="header">
		<div class="wrapper clearfix">
			<ul class="nav">
				<li><a target="_self" href="{% url 'transaction:index' %}">首页</a></li>
				<li class="active"><a target="_parent" href="{% url 'transaction:account_deal' 10000 '1' %}">账号交易</a></li>
				<li><a target="_self" href="{% url 'transaction:account_purchase' 10000 '1' %}">账号求购</a></li>
				<li><a target="_self" href="{% url 'transaction:material_deal' 10000 20000 1 %}">材料交易</a></li>
				<li><a target="_self" href="{% url 'transaction:gold_deal' 10000 1 %}">金币交易</a></li>
                <li><a target="_self" href="{% url 'transaction:Add' %}">买卖发布</a></li>

			</ul>

			<div class="user-info">

				<!-- 我的订单 -->
{#				<div class="register">#}
{#					<a href="{% url 'transaction:register' %}"><p>免费注册</p></a>#}
{#				</div>#}
{#				<div class="login">#}
{#					<a href="{% url 'transaction:login_' %}"><p>登录</p></a>#}
{#				</div>#}
				<div class="order">
					<a href="{% url 'transaction:person_center' %}"><p>个人中心</p></a>
				</div>
			</div>
		</div>
	</div>
    <div align="center">

        <form action="{% url 'transaction:success_' account2_id %}" method="post" >
        <span style="font-size: large">账号信息:</span><input type="text" name="account_number" size="30px" align="center"> <br> <div style="color: white; border: 0px ; height: 20px "></div>
        <span style="font-size: large">账号密码:</span><input type="password" name="password" size="30px" align="center"> <br>
            <input type="submit" value="提交">
        </form>

    </div>

{#    <div class="buy-btn"><a target="_self" href="{% url 'transaction:success_' %}">确认提交</a></div>#}

</body>
</html>