{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
 <ul class="item-list">
         {% for account in accounts %}
                        <li class="item-con">
						<div class="item-img fl">
							<a href=""><img src="{% static 'images/wbm.png'%}" alt=""></a>
						</div>
						<div class="item-tit fl">
							<div class="item-tit-d">

								<span class="tit-text " ><a href="{% url 'transaction:details3' account.id %}">{{ account.account_message }} </a></span>
							</div>
							<div class="district fl">
								<span>游戏区服：</span><span>{{ account.gamearea }}</span>
							</div>

						</div>
						<div class="item-price fl">
							￥{{ account.price }}
						</div>
						<div class="buy fl">

								<div class="buy-btn">
									<a href="{% url 'transaction:account_order2' account.id %}">立即出售</a>
								</div>

						</div>
					</li>

         {% endfor %}

 </ul>
<div class="page">

</div>
</body>
</html>