<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.0, user-scalable=yes" />  
	<meta name="keywords" content=" " />  
	<meta name="description" content=" " />
	<link rel="stylesheet" href="{% static 'material/css/reset.css' %}">
	<link rel="stylesheet" href="{% static 'material/css/common.css' %}">
	<link rel="stylesheet" href="{% static 'material/css/material-deal.css' %}">
	<title>材料交易</title>
</head>
<div class="header">
		<div class="wrapper clearfix">
			<ul class="nav">
				<li><a target="__self" href="{% url 'transaction:index' %}">首页</a></li>
				<li><a target="_self" href="{% url 'transaction:account_deal' %}">账号交易</a></li>
				<li><a target="_self" href="{% url 'transaction:account_purchase' %}">账号求购</a></li>
				<li class="active"><a target="_parent" href="{% url 'transaction:material_deal' 10000 20000 1%}">材料交易</a></li>
				<li><a target="_self" href="{% url 'transaction:gold_deal' '10000' '1' %}">金币交易</a></li>
                <li><a target="_self" href="{% url 'transaction:Add' %}">买卖发布</a></li>

			</ul>

			<div class="user-info">

				<!-- 我的订单 -->
				<div class="register">
					<a href="{% url 'transaction:register' %}"><p>免费注册</p></a>
				</div>
				<div class="login">
					<a href="{% url 'transaction:login_' %}"><p>登录</p></a>
				</div>
				<div class="order">
					<a href="{% url 'transaction:person_center' %}"><p>个人中心</p></a>
				</div>
			</div>
		</div>
</div>
<div class="content">
		<div class="wrapper">
			<div class="select fl">
				<div class="select-tit select-w t-c">
					商品筛选
				</div>
				<div class="select-con select-w">
					<div class="select-area">
						<div class="s-c-tit fl">
							所在区：
						</div>
						<div class="area-con fl">
							<ul>
                            {% for game in game_type %}
                                <li>
                                    {% if game.gameareaid == area %}
                                        <span class="border-s .selected"></span>
                                        <span>😀</span>
                                    {% endif %}
                                    <a href= "{% url 'transaction:material_deal' game.gameareaid 20000 1%}"><span class="border-s ">{{ game.areaname }}</span></a>
                                </li>
                            {% endfor %}
                      </ul>
						</div>
					</div>
					<div class="select-area">
						<div class="s-c-tit fl">
							材料类型：
						</div>
						<div class="area-con fl">
							<ul>
								{% for games in game_materials %}
                                    <li>
                                        {% if games.gameareaid == area %}
                                             <span class="border-s .selected"></span>
                                             <span>😀</span>
                                            <span style="display: none" id='gameareaid'>{{ games.gameareaid }}</span>
                                        {% endif %}
                                        <a href= "{% url 'transaction:material_deal'  10000 games.materialsid 1%}"><span class="border-s ">{{ games.materialsname }}</span></a>
                                    </li>
								{% endfor %}
							</ul>
						</div>
					</div>
				</div>
				<div class="sort ">
					<div class="sort-tab fl">
						<div class="default-sort active sort-list" id="default">
							默认排序
						</div>
						<div class="price sort-list sort-tri" id="price">
                        <span class="text" id="tri">价格</span>
                        <span class="tri-top" id="top"></span>
                    </div>
                    <div class="price sort-list sort-tri" id="price1">
                        <span id="tri">价格</span>
                        <span class="tri-bottom" id="bottom"></span>
                    </div>
                    <div class="time sort-list sort-tri" id="time">
                        <span id="datetime">发布时间</span>
                        <span class="tri-top"></span>
                    </div>
                    <div class="time sort-list sort-tri" id="time1">
                        <span id="datetime">发布时间</span>
                        <span class="tri-bottom"></span>
                    </div>
					</div>
				</div>
				<div class="search">
					<div class="left-search s-f fl">
						<p>关键字：</p>
						<input type="text" name="" id="keywords" placeholder="请输入您要搜索的关键字">
						<div class="s-btn">确定</div>
					</div>
					<div class="right-search s-f fr">
						<p>价格筛选：</p>
						<input type="text" id="minPrice" class="p-input" placeholder="￥">
						<span>&nbsp;-&nbsp;</span>
						<input type="text" name="" id="maxPrice"  class="p-input" placeholder="￥">
						<div class="s-btn">确定</div>
					</div>
				</div>
			</div>
			<div class="item fl" id="f1">
				<ul class="item-list">
					{% for material in materials %}
					    <li class="item-con">
                            <div class="item-img fl">
                                <a href="{% url 'transaction:details2' material.id %}"><img src="{{ material.image }}" alt=""></a>
                            </div>
                            <div class="item-tit fl">
                                <div class="item-tit-d">
                                    <span class="item-tag ">{{ material.delivery }}</span>
                                    <span class="tit-text " ><a href="{% url 'transaction:details2' material.id%}">{{ material.goodinfo }}</a></span>
                                </div>
                                <div class="district fl">
                                    <span>游戏区服：</span><span>{{ material.gamearea }}</span>
                                </div>
                                <div class="stock fl">
                                    <span>商品库存：</span><span class="st-num">{{ material.goodsnum }}</span>
                                </div>
                            </div>
                            <div class="item-price fl">
                                {{ material.price }}
                            </div>
                            <div class="buy fl">
                                    <div class="buy-btn">
                                        <a href="{% url 'transaction:materialPurchase' material.id%}">立即抢购</a>
                                    </div>
                            </div>
                        </li>
					{% endfor %}
				</ul>
			</div>
		</div>
</div>
<div class="page">
        {% for game in game_type %}
            {% if game.gameareaid == area %}
                <a href="{% url 'transaction:material_deal' game.gameareaid 20000 1 %}">首页</a>
                {% if materials.has_previous %}
                    <a href="{% url 'transaction:material_deal' game.gameareaid 20000 materials.previous_page_number %}">上一页</a>
                {% else %}
                    <a href="javascript:alert('已经是第一页了')">上一页</a>
                {% endif %}
                <a href="{% url 'transaction:material_deal' game.gameareaid 20000 1 %}">{{ page }}/{{ paginator.num_pages }}</a>
                {% if materials.has_next %}
                    <a href="{% url 'transaction:material_deal' game.gameareaid 20000 materials.next_page_number %}">下一页</a>
                {% else %}
                    <a href="javascript:alert('已经是最后一页了')">下一页</a>
                {% endif %}
                <a href="{% url 'transaction:material_deal' game.gameareaid 20000 paginator.num_pages %}">末页</a>
            {% endif %}
        {% endfor %}
</div>
	<script type="text/javascript" src="{% static 'material/js/jquery-1.8.1.min.js' %}"></script>
	<script type="text/javascript">
		var sortList = $('.sort-list');
		sortList.each(function(index, el) {
			$(this).click(function(event) {
				$(this).addClass('active').siblings().removeClass('active');
			});	

		});
		// 价格排序
        var price = document.getElementById("price");
        var f1 = document.getElementById("f1");
        price.addEventListener("click", function () {
            var gameareaid = document.getElementById('gameareaid');
            var id = gameareaid.textContent;
            $.get("/games_deal/checkmaxprice/", {"top": id}, function (html) {
                f1.innerHTML = html;
        })
    });
        $(document).click(function () {
            var top1 = document.getElementById('price1');
            var f2 = document.getElementById("f1");
            top1.addEventListener("click", function () {
                var gameareaid = document.getElementById('gameareaid');
                var id = gameareaid.textContent;
                $.get("/games_deal/checkminprice/", {"top": id}, function (html) {
                    f2.innerHTML = html;
                })
            })
        });
	</script>
</body>
</html>