<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="Content-Language" content="zh-CN"/>
    <title>4396用户服务协议</title>
    <style type="text/css">
        body {
            text-align: center;
        }

        .lgredx {
            width: 100%;
            border-bottom: #3D86EA solid 6px;
        }

        .xlys {
            width: 940px;
            height: 340px;
            background-color: #f0f6ff;
            BORDER-BOTTOM: 0px solid;
            BORDER-LEFT: 0px solid;
            BORDER-RIGHT: 0px solid;
            BORDER-TOP: 0px solid;
            margin: 0 auto;
            margin-top: 20px;
            line-height: 30px;
            font-size: 14px;
        }
    </style>
</head>

<body>
<a href="http://www.7881.com/"><img src="/market/images/7881_logo.jpg" border="0"/></a>
<div class="lgredx"></div>
<div style=" width:980px; height:380px;  background-color:#f0f6ff; margin:0 auto; margin-top:20px;">
	<textarea class="xlys">
    欢迎阅读4396游戏交易网站《担保交易服务协议》条款，本协议建立在您接受《4306游戏交易网站服务协议》基础之上，如您要使用4396所提供的网络游戏物品担保交易服务，您需要注意并遵守以下内容。
《担保协议》：
1、客户有义务保护好自己的帐号密码，如自己保护不当遗失被别人冒领，本站只能提供力所能及的帮助但不承担责任。
2、卖家不会在游戏里再向您取回任何物品，如果交易成功之后，您在游戏里将物品交易给任何人，本站概不负责也不承担任何法律责任。
3、卖家不会在游戏里向您索取任何游戏帐号和4396帐号的信息，如果您在游戏里泄露任何关于游戏帐号和4396帐号的信息，本站概不负责也不承担任何法律责任。
4、7881有权验证在交易过程中您使用的QQ是否与填单QQ相一致，并有权无条件拒绝QQ不一致的担保交易。
5、所有担保交易游戏物品因游戏开发商或运营商之原因造成该物品属性变化、物品消失、封存等情况，4396概不负责。
6、在担保交易成功后，请您马上去修改您的帐号信息或者密码。如果在15分钟后帐号出现任何问题，4396概不负责也不承担任何法律责任。
7、当您与客服确认购买区服无误后，在未征得卖家同意的情况下，不允许取消已确认的订单。
8、为保证您的交易安全，请您QQ不要下线，卖家发货完成后，需要您确认收货。卖家发货完成后30分钟您没有确认，系统会默认完成。
9、针对DNF拍卖订单，发货以买家上传的图片和订单中游戏币金额为准，因个人原因中途下架导致的损失由买方个人承担
《寄售协议》：
1、4396工作人员不会以任何理由在游戏里向您索取4396帐号信息、变更角色名、交易地点、删除角色。
2、4396工作人员不会在游戏里再向您取回任何物品，如果交易成功之后，您在游戏里将物品交易给任何人，4396概不负责也不承担任何法律责任。
3、4396工作人员不会在游戏里向您索取任何游戏帐号和4396帐号的信息，如果您在游戏里泄露任何关于游戏帐号和4396帐号的信息，4396概不负责也不承担任何法律责任。
4、邮寄的订单，您下订单填写角色名时填写错误，因您没在第一时间告诉4396工作人员正确角色名，导致没收到货物，4396概不负责也不承担任何责任。
5、7881有权验证在交易过程中您使用的QQ是否与填单QQ相一致，并有权无条件拒绝QQ不一致的寄售交易。
6、所有寄售交易游戏物品因游戏开发商或运营商之原因造成该物品属性变化、物品消失、封存等情况，4396概不负责。
7、由于虚拟交易的特殊性，购买物品存在一定的风险，4396和您一样无法辨别物品的来源，4396可以提供一份“交易证明”，证明您是在4396合法购买的此物品，您可以联系游戏官方网站找回。
8、针对DNF拍卖订单，发货以买家上传的图片和订单中游戏币金额为准，因个人原因中途下架导致的损失由买方个人承担。
9、关于冒险岛2粉末材料类订单，交易存在一定风险性，如买方在交易中因卖家原因导致物品损失，平台将以卖家平台押金的形式作为赔付；平台交货期间，买方需及时取走货物，如期间买方出现异常导致物品损失的情况，同样以卖家平台押金的形式补偿。
10、交易期间卖家账号如出现顶号/修改密码等一系列干扰交易情况，平台有权直接取消交易，造成的材料，押金损失由卖家个人承担。
《帐号交易服务协议》：
1、7881工作人员不会在游戏里向您索取任何游戏帐号和4396帐号的信息，如果您在游戏里泄露任何关于游戏帐号和7881帐号的信息，7881概不负责也不承担任何法律责任。
2、7881有权验证在交易过程中您使用的QQ是否与填单QQ相一致，并有权无条件拒绝QQ不一致的帐号交易。
3、所有帐号交易，在商品上架后因卖家自身原因被盗取或封存，4396概不负责。
4、所有帐号交易，若查明有一号多卖的，7881有权查封用户的4396帐号。
5、所有帐号交易，卖家在出售成功后恶意找回帐号的，4396有权查封用户的7881帐号并将用户列入黑名单、锁定其银行帐号。
6、所有帐号交易，在与市场价格差额幅度过大时，4396有权直接取消交易。
7、由于帐号的特殊性，4396无法判定该帐号的来源及归属，由此类问题引发的交易纠纷，4396概不负责。
8、由于帐号交易的特殊性，购买帐号存在一定的风险，4396会尽可能的引导您修改资料，保障帐号的安全，但无法保证帐号是否会被卖家取回，4396可以提供一份“交易证明”，证明您是在7881合法购买的此帐号，您可以凭借证明起诉卖家。
《公用协议》
1、4396不审核道具类商品的市场价值，请您购买时再三确认是否要交易。若交易成功后，您对道具类商品市场价值有异议，7881概不负责也不承担任何法律责任。
2、买家当天在4396无交易成功记录的用户，当天未支付取消订单3笔及以上的用户，我们将对其进行提醒，在提醒后再次出现当天未支付取消订单3笔及以上的用户，我们将对其进行用户名锁定处理；买家当天在4396有交易成功记录的用户，当天未支付取消订单5笔及以上的用户，我们将对其进行提醒，在提醒后再次出现当天未支付取消订单3笔及以上的用户，我们将对其进行用户名锁定处理。
3、如果用户出售或转让以非正当手段（包括但不限于盗窃他人、利用游戏系统可能存在的漏洞、使用第三方软件等）在游戏中获取的虚拟物品的， 则用户同意4396将用户出售或转让该虚拟物品所得的款项支付给游戏运营商，同时由游戏运营商提供相同的虚拟物品给买家，用以补偿买家的损失。
如果用户购买的虚拟物品系卖家以非正当手段（包括但不限于盗窃他人、利用游戏系统可能存在的漏洞、使用第三方软件等）在游戏中获取的，则用户同意4396将用户用于购买该虚拟物品的款项支付给游戏运营商，同时由游戏运营商提供相同的虚拟物品给用户，用以补偿用户的损失。
如买家违反上述条款，则按以下方式进行处理（注：查处时间为24小时内）：
违规类别：
A、 一次违反以上规则
管理措施：给予用户提醒
B、 二次违反以上规则
管理措施：锁定该用户的4396用户名1-3天
C、 用户第三次违反以上规则：
管理措施：锁定该用户4396用户名7天
D、 用户第四次违反以上规则：
管理措施：锁定该用户4396用户名1个月
E、 用户第五次违反以上规则：
管理措施：锁定该用户的4396用户名365天
凡通过7881网站购买或出售担保交易，即表示接受并遵守以上内容。
此协议建立在遵守《4396游戏交易网站服务协议》基础上，如本协议与《4396游戏交易网站服务协议》内容冲突，以本协议为准。
本服务协议双方为本网站与使用本网站担保交易服务用户，本服务协议具有合同效力。若因违反此协议内容（如违反网络游戏运营商之相关服务规定）所造成的损失（包括但不限于该物品被网络游戏运营商没收、删除、修改等），由违约人承担全部责任，并赔偿该游戏物品购买人、网络游戏运营商及4396之全部损失。

                                                                                                        4396游戏交易平台
	</textarea>
</div>
    <a href="{{  }}"></a>
</body>
</html>
